.patient-form form {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 2rem;
    row-gap: 2rem;
}

.patient-form .buttons {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
    margin-right: 1rem;
}

.patient-form .tratamientos-box {
    display: grid;
    grid-template-columns: 70% auto;
}

.patient-form .tratamientos-title {
    display: grid;
    grid-template-columns: 70% auto;
    grid-column-start: 1;
    grid-column-end: 3;
}

.patient-form .tratamientos-box {
    grid-template-columns: 70% auto;
    grid-column-start: 1;
    grid-column-end: 3;
}