.main-view {
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    min-height: 100vh;
}
.main-view__main-header {
    flex-grow: 0;
    flex-shrink: 0;
    max-height: 15vh;
}
.main-view__main-content{
    flex-grow: 1;
    flex-shrink: 1;
}