* {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    min-width: 100vw;
    min-height: 100vh;
}

body #root{
    min-width: inherit;
    min-height: inherit;
}

.app{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: inherit;
    min-height: inherit;
}