.modules-main-header {
    display: flex;
    background-color: inherit;
}

.modules-main-header .MuiBottomNavigation-root {
    background-color: inherit;
}

.Mui-selected {
    color: rgb(199, 214, 255) !important;
}

.modules-main-header .MuiBottomNavigationAction-label.MuiBottomNavigationAction-iconOnly {
    opacity: 1;
    transition-delay: 0s;
}